


body {
    background-color:#36aa75 ;
    font-family: Arial, Helvetica, sans-serif;
}

.poppetje {
    margin-top: 10%;
    margin-left: 70%;
    position: sticky;
}

.Vragen {
    margin-left: 70%;

}